
<div class= "three">
   <p>The Generations Project grew out of a desire to engage across geographic and generational boundary lines. Born in New York City but nationwide in scope, the initial Generations Project brought together Millennials, Gen Xers, and Baby Boomers from locations as diverse as California, Queens, and Kansas.</p>

   <p>This group is inspired by the conviction that most political divisions are only as strong as you allow them to be. Their documentary and webshort work challenges the divisive rhetoric that separates age and geographic groups.</p>

   <p>The next phase of the Generations Project is to multiply the work of this group across locations and participants. To learn more about this process or to consider taking part, please visit the <a href= "partner.html.erb">Partner</a> page.
</div>

<div class = "us ana">
    <img class = "us ana" src= "/images/13.png" alt="photograph of Ana Monroe">
    <div class = "us ana"<a href= "https://www.anamonroe.com" target= "_blank">Ana Monroe</a> <i>(Director)</i> is a designer and artist living in New York City and Los Angeles. She learned design on-the-job working in the film and fashion industries, she currently works with federal agencies to design and deploy products and services. She does not enjoy politics-as-spectacle and would very much like to contribute to making the political news cycle a bit boring again.</div>
</div>

<div class = "us cheryl">
    <img class = "us cheryl" src= "/images/cheryl.png" alt="photograph of Cheryl Fitzner">
    <div class = "us cheryl"<a href= "https://www.anamonroe.com" target= "_blank">Cheryl Fitzner</a> <i>(Director & Senior Advisor)</i> taught high school Spanish for 30+ years. Born in Panama Canal Zone, she immigrated to the U.S. as a child. During elections in her home state of Georgia, she volunteers at voting sites, where she regularly uses her "teacher voice" to stop men following their wives into the booths to make sure the women "vote right". (PSA: This still happens.)</div>
</div>

<div class = "us katrina">
  <div class= "us katrina"><img class= "us" src= "/images/12.png" alt= "photograph of Katrina Kaufman"></div>
  <div class= "us katrina"><a href= "https://www.katrinakaufman.com" target="_blank">Katrina Kaufman</a> <i>(Director & Producer)</i> is a jouarnalist, filmmaker, and lawyer working New York City. Her interdisciplinary experience has seen her working on Oscar-winning movies like Avatar, internationally signficant geopolitical events such as the first free elections in Myanmar, and to function as a legal observer during protests in the United States.</div>
</div>

<div class = "us scott">
  <div class= "us scott"><img class= "us" src= "/images/scott.png" alt= "photograph of Scott Kellum"></div>
  <div class= "us scott"><a href= "https://www.typetura.com" target="_blank">Scott Kellum</a> <i>(Design Director)</i> is the founder of Typetura, a typography firm offering both bespoke and ready-made typographic solutions for web and print. He has invented multiple groundbreaking web technologies, including Athena responsive ad units, a design concept now used across the internet, and the fluid typesetting technology that powers Typetura itself. Scott brings to Generations Project his passion for typography and design, and his desire to contribute to the creation of sustainable civic engagement paths for every individual.</div>
</div>

<div class = "us sal">
  <div class= "us sal"><img class= "us" src= "/images/sal.png" alt= "photograph of Sal Hernandez"></div>
  <div class= "us sal"><a href= "http://clickclickonsal.com/" target="_blank">Sal Hernandez</a> <i>(Chief Engineer)</i> is a software engineer, former automotive technician, and pun master. In re-directing his life to take part in the ever-growing advancement in technology and web development, he found that programming has allowed him to connect with people at all levels of experience and to more readily take on problems of all kinds in his own life. He brings to Generations Project his talent for software development and passion for community building, inclusion, and personal growth.</div>
</div>

<!--
<div class = "us principle">
  <div><strong>Generations Project Principle No. 1:</strong></div>
  <div class = "us principle">Life Changes: We acknowledge that life and what we need from it changes with each age, and we embrace that change.</div>
</div>
-->
