
<div class="wrapper">


<div class= "two">
<a href= "https://www.generationsproject.us">
 <img class="logo" src="/images/generations_logo_rgb.svg" alt="🇺🇸" >
 </a>
 </div>
 <div class= "three">Here's some background information on the project. The next thing I have to do is to make all the elements stack vertically when the screen size goes down to phone size. I'm sure I can find a lot of guidance on that online. It's called small screen. Everyone does it. I also need to make sure that the logo gets a littel bigger because it's not as big as our faces right now!</div>



  <div class="eleven">eleven and some test text. lets make this text longer and see what happens. does the grid expand or does it wrap? I want it to wrap. Wrapping would be nice. It does wrap! That's cool.</div>
  <div class= "twelve"><img class= "us" src= "/images/13.png" alt="photography of Ana"></div>

  <div class= "seventeen"><img class= "us" src= "/images/12.png" alt= "photograph of Katrina Kaufman"></div>
  <div class= "eighteen">this is a photo of katrina kaufman. I hope this text will wrap well, like its sister above.</div>
</div>

<footer>
    <ol>
        <h2>Credits</h2>
        <li><span>Creative director:</span> Ana Monroe</li>
        <li><span>Producer:</span> Katrina Kaufman</li>
        <li><span>Lead designer:</span> Scott Kellum</li>
    </ol>
    <ol>
        <h2>Sponsors</h2>
        <li><a href="https://www.sixtyfirstproductions.com" style="font-family:halyard-display;font-weight:600;font-style:italic;color:#ff0;background-color:#000;display:block;padding:.4em;text-decoration: none;">Sixty First Productions</a></li>
        <li><a href="https://www.aiga.org/"><img src="/images/aiga.png" alt="AIGA"></a></li>
        <li><a href="http://www.brooklyngrain.com/"><img src="/images/brooklyngrain.png" alt="Brooklyn Grain"></a></li>
    </ol>
</footer>
