
<div class="wrapper">


<div class= "two">
<a href= "https://www.generationsproject.us">
 <img class="logo" src="/images/generations_logo_rgb.svg" alt="🇺🇸" >
 </a>
 </div>
 <div class= "three">
   <p>The Generations Project grew out of a desire to engage across geographic and generational boundary lines. Born in New York City but nationwide in scope, the initial Generations Project brought together Millennials, Gen Xers, and Baby Boomers from locations as diverse as California, Queens, and Kansas.</p>

   <p>This group is inspired by the conviction that most political divisions are only as strong as you allow them to be. Their documentary and webshort work challenges the divisive rhetoric that separates age and geographic groups.</p>

   <p>The next phase of the Generations Project is to multiply the work of this group across locations and participants. To learn more about this process or to consider taking part, please visit the <a href= "partner.html.erb">Partner</a> page.
 </div>



  <div class="eleven"><a href= "https://www.anamonroe.com" target= "_blank">Ana Monroe</a> <i>(Director)</i> is a designer and artist living in New York City and Los Angeles. Originally from Georgia, she currently works with federal agencies as a product and service designer.  She does not enjoy politics-as-spectacle and would very much like to contribute to making the political news cycle a bit boring again. </div>
  <div class= "twelve"><img class= "us" src= "/images/13.png" alt="photography of Ana"></div>

  <div class= "seventeen"><img class= "us" src= "/images/12.png" alt= "photograph of Katrina Kaufman"></div>
  <div class= "eighteen"><a href= "https://www.katrinakaufman.com" target="_blank">Katrina Kaufman</a> <i>(Producer)</i> is a jouarnalist, filmmaker, and lawyer working New York City. Her interdisciplinary experience has seen her working on Oscar-winning movies like Avatar, internationally signficant geopolitical events such as the first free elections in Myanmar, and to function as a legal observer during protests in the United States.</div>
</div>

<footer>
    <ol>
        <h2>Credits</h2>
        <li><span>Creative director:</span> Ana Monroe</li>
        <li><span>Producer:</span> Katrina Kaufman</li>
        <li><span>Lead designer:</span> Scott Kellum</li>
    </ol>
    <ol>
        <h2>Sponsors</h2>
        <li><a href="https://www.sixtyfirstproductions.com" target="_blank" style="font-family:halyard-display;font-weight:600;font-style:italic;color:#ff0;background-color:#000;display:block;padding:.4em;text-decoration: none;">Sixty First Productions</a></li>
        <li><a href="https://www.aiga.org/" target="_blank"><img src="/images/aiga.png" alt="AIGA"></a></li>
        <li><a href="http://www.brooklyngrain.com/" target="_blank"><img src="/images/brooklyngrain.png" alt="Brooklyn Grain"></a></li>
    </ol>
</footer>
