<div class="three">
    <ul>
        <li class="profile momentumcss">
            <img src="/images/brianna-lennon.png" width="533px" height="533px" alt=" ">
            <div class="profile-quote">
                <blockquote>“Open lines of communication are critical to building voter trust in the process.”</blockquote>
                <span>Brianna Lennon, County Clerk, Boone County, Missouri</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <div class="profile-quote">
                <blockquote><strong>The Story: </strong><br>‘Tis the season - election season! - in states across the country. This week, we talk local elections and interview the super-embedded <a href= "https://www.showmeboone.com/clerk/bio.asp">Brianna Lennon,</a> County Clerk of Boone County, Missouri to let you know more about how to get involved at one of our most crucial governing platforms: the local one.</blockquote>
            </div>
        </li>
        <li class="profile momentumcss">
            <div class="profile-quote">
                <blockquote><strong>Ummmm - how do we know elections are happening? </strong><br>Yes, we get it; keeping up with local elections is tough. They only make the national news cycle when there’s a problem, like in <a href="https://fivethirtyeight.com/features/the-fight-over-election-fraud-in-north-carolina-could-drag-on-for-months/">last year’s election</a> tampering in North Carolina Ninth Congressional District. That made the news for sure, but it wasn’t even local; it was for a congressional seat. It’s rare for truly local election news to go beyond county or even voting district lines. So, how do we even know when there’s going to be an election? And who organizes local elections, anyway?</blockquote>
            </div>
        </li>
        <li class="profile momentumcss">
            <div class="profile-quote">
                <blockquote><strong>So, how can we find out about local elections?</strong><br>TBH, it’s not that hard. We put together this list of state election websites just for you! You can also search elections in your town, city, or county to find both the local election officials’ website and the state’s election website, with all the information you need to stay informed about when elections are coming up, where to vote, and even sample ballots.</blockquote>
            </div>
        </li>
        <li class="profile momentumcss">
            <div class="profile-quote">
                <blockquote><strong>I've been to government websites, and they're...</strong><br>We get it; most government websites aren’t like Glossier or Nordstrom. Their design and information architecture can be challenging to navigate.<br><br><mark>If you have issues with finding what you need, <a href = "mailto: directors@generationsproject.us">email us</a>.</mark> Our editorial team will do our best to help you out!</blockquote>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/brianna-lennon.png" width="533px" height="533px" alt=" ">
            <div class="profile-quote">
                <blockquote><strong>Brianna Lennon wants you</strong> (to vote in local elections!)</blockquote>
            </div>
        </li>
        <li class="profile momentumcss">
            <div class="profile-quote">
                <blockquote><strong>GP:</strong> What attracted you to public service?<br><br>
                <strong>BL:</strong> I fell into elections administration as an intern in the Missouri Secretary of State’s Office in 2007. Since then I’ve served as an assistant attorney general, counsel and deputy director of elections in the Secretary of State’s Office, and now as Boone County Clerk. I really enjoy finding ways to get voters involved in the democratic process and participating in community decisions that affect everyday life.</blockquote>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/result_energetic.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote><strong>Energetic Folks: Get to those polls!</strong><br><br>
                  <strong>GP:</strong> Are there methods your local governments have tried that have improved voter turnout?<br><br>
                  <strong>BL:</strong> Local election turnout hovers in the 20% range, which I would love to increase. We have a youth election participant program that bring high school students into our local elections process, which increases public interest and civic education, and we’ve been working on voter education to bring more awareness to local elections.</blockquote>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/result_embedded.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote><strong>Those who are Embedded: Local Websites Need Your Help!</strong><br><br>
                  <strong>GP:</strong> <a href= "https://www.showmeboone.com/">Boone County’s website</a> is very impressive. Do citizens use them regularly?<br><br>
                  <strong>BL:</strong> During busy elections, voters use the website regularly to <mark>find their polling place,</mark> their <mark>sample ballot</mark>, or to <mark>update their voter registration.</mark><br><br>
                  Having our <mark>commission orders and minutes searchable</mark> (💜GP editors’ note: searchable minutes!! 💜) on the website also helps residents stay informed on county business.<br><br>
                  Does this not sound like your local government site? If not, search for and call your local government reps and <mark><a href= "https://docs.google.com/spreadsheets/d/1u3svsgqw3xjqrk6jjKKRI30VXvvokd5YVtiHb_LkkJY/edit#gid=0">reach out to your state's Department of State (or similar!)</a></mark> to let them know that you want to see this information!
                </blockquote>
            </div>
        <li class="profile momentumcss">
            <img src="/images/result_exploring.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote><strong>Exploring folks: Get to the polls! (and work there)</strong><br><br>
                <strong>GP:</strong> How can people learn more about the local process?<br><br>
                <strong>BL:</strong> I encourage everyone to serve as a poll worker (GP editors’ note: also known as an Election Worker) because it’s the best way to see the entire election and appreciate the complexity and security protocols in place.<br><br>
                I also encourage voters to reach out to me and my office directly with questions or concerns.<br><br>
                Elections administration is, by and large, a public process at both the local and state level, but <mark>engaging at the local level lets voters see the granular details</mark> like vote tabulation and election equipment testing.</blockquote>
            </div>
        </li>

        <li class="profile momentumcss">
            <div class="profile-quote">
                <blockquote><strong>GP loves sharing</strong><br><br>
                  Like what you read? <mark>Link a friend!</mark><br><br>
                  Sign up 5 new GP readers to get a shout out on the site and some beautifully designed Generations Project gifts sent to you! 💜💜<br><br>
                  <strong>Open Call</strong><br><br>
                  As you know, Generations Project is a work-in-progress, and we would love to hear from you. <mark>Let us know if you'd like to see more or less of features.</mark><br><br>
                  And <mark>especially reach out if <strong>you</strong> have a civic engagement project, question, or idea  that you'd like to discuss.</mark> Or if <mark>you're a public servant</mark> and want to talk about your mission-driven job. We can't wait to integrate more community conversations in these letters!</blockquote>
            </div>
        </li>
    </ul>
</div>
