<img class="flag" src="/images/flag.svg" alt="🇺🇸">
<h1>moderates</h1>

<h2 style="text-align: center">Coming Soon</h2>

<footer>
    <ol>
        <h2>Credits</h2>
        <li><span>Creative director:</span> Ana Monroe</li>
        <li><span>Producer:</span> Katrina Kaufman</li>
        <li><span>Lead designer:</span> Scott Kellum</li>
    </ol>
    <ol>
        <h2>Sponsors</h2>
        <li><a href="https://www.sixtyfirstproductions.com">Sixty First Productions</a></li>
        <li><a href="https://www.aiga.org/"><img src="/images/aiga.png" alt="AIGA"></a></li>
        <li><a href="http://www.brooklyngrain.com/"><img src="/images/brooklyngrain.png" alt="Brooklyn Grain"></a></li>
    </ol>
</footer>