<div class="wrapper">


<div class= "two">
<a href= "https://www.generationsproject.us">
 <img class="logo" src="/images/logo_v4.svg" alt="🇺🇸" >
 </a>
 </div>
<!--

   <p><h2><b>Digitally:</b></h2>
     You have the vision; we have your digital back! For a digital partnership, we'll have a conversation about what your vision is for your panel, workshop, or other conversational event. We'll provide advice and designs for some promotional materials, and you’ll put it together! Let's combine our voices, and help you forward collaboration in your neck of the woods. <a href= "https://www.instagram.com/generationsproj/"target= "_blank">Let's move forward!</a>
   </p>

   <p><h2><b>In-Person:</b></h2>
     We're excited to  come to you to act as facilitators for your workshop or panel! In the spirit of the Generations Project itself, we would love to co-facilitate your panel, workshop, or other conversational event. Over the course of a few conversations, we can figure out together what you want and need from this event or event series, and how we might help. We'll provide some promotional materials; you get the space and the crowd. Then, we'll come to you to help you host the day-of and ensure a productive (but not necessarily <i>easy</i>) conversational event. <a href= "https://www.instagram.com/generationsproj/"target= "_blank">Get in touch!</a>
   </p>

   <p><h2><b>In Media:</b></h2>
     If you run a podcast, YouTube, or other media outlet, we would love to join you to talk about the Generations Project, its goals, and its implications. <a href= "https://www.instagram.com/generationsproj/"target= "_blank">Reach out to us</a>; it would be awesome to have a conversation!
   </p>
  </div>
-->

<div class = "three">
<p>Conversation drives the Generations Project. It's our mission to help people develop skills for talking across generations, to understand their options in local governance and politics, and to inspire each other through talking face-to-face, person-to-person. Any size organization is welcome: from a couple of friends, to a school or volunteer group, companies, or non-profits, let us know how we can help you. Get in touch via <a href= "https://www.instagram.com/generationsproj/"target= "_blank">IG</a>, and partner with the Generations Project in three ways:</p>
</div>

  <div class="digitally"><p class= "section-title"><b>Digitally:</b><br></p>
    <p>You have the vision; we have your digital back! For a digital partnership, we'll have a conversation about what your vision is for your panel, workshop, or other conversational event. We'll provide advice and designs for some promotional materials, and you’ll put it together! Let's combine our voices and help you forward collaboration in your neck of the woods.</p>

    <p><a href= "https://www.instagram.com/generationsproj/"target= "_blank">Reach out to us</a>; it would be awesome to talk out your ideas with you!</p>
  </div>
  <div class= "laptop"><img class= "us" src= "/images/laptop_icon_magneta.svg" alt="illustration of a laptop"></div>

  <div class= "in-person-img"><img class= "us" src= "/images/in-person_magneta.svg" alt= "line drawing of 3 people"></div>
  <div class= "in-person-text"><p class= "section-title"><b>In-Person:</b><br></p>
    <p>If you want the help of professional facilitators, we can be there by your side. With a small budget for travel, we'll come to you to help facilitate your workshop, panel, or other conversational event! Over the course of a few video chats, we can figure out together what you want and need from this event or event series, and how we might help. We'll provide some promotional materials; you get the space and the crowd. Then, we'll come to you to help you host the day-of and ensure a productive, empowering engagement.

    <p><a href= "https://www.instagram.com/generationsproj/"target= "_blank"> Reach out to us</a>; it would be awesome to hear what you have in mind!</p></div>

  <div class= "in-media-img"><img class= "us" src= "/images/in-media_magneta.svg" alt="illustration of a transmission tower"></div>
    <div class="in-media-text"><p class= "section-title"><b>In Media:</b><br></p>
      <p>If you run a podcast, blog, YouTube channel, or other media outlet, we would love to join you to talk about the Generations Project, its goals, and its implications. </p>
      
      <p><a href= "https://www.instagram.com/generationsproj/"target= "_blank">Reach out to us</a>; it would be awesome to have a conversation!</p>
    </div>
  </div>
</div>

<footer>
    <ol>
        <h2>Credits</h2>
        <li><span>Creative director:</span> Ana Monroe</li>
        <li><span>Producer:</span> Katrina Kaufman</li>
        <li><span>Lead designer:</span> Scott Kellum</li>
    </ol>
    <ol>
        <h2>Sponsors</h2>
        <li><a href="https://www.sixtyfirstproductions.com" target="_blank" style="font-family:halyard-display;font-weight:600;font-style:italic;color:#ff0;background-color:#000;display:block;padding:.4em;text-decoration: none;">Sixty First Productions</a></li>
        <li><a href="https://www.aiga.org/" target="_blank"><img src="/images/aiga.png" alt="AIGA"></a></li>
        <li><a href="http://www.brooklyngrain.com/" target="_blank"><img src="/images/brooklyngrain.png" alt="Brooklyn Grain"></a></li>
    </ol>
</footer>
