<div class="three">
    <ul>
        <li class="profile momentumcss">
            <img src="/images/16.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>“I think knowledge sharing is important [between] generations...sometimes my mom can be a little laid back in her political thinking, and I feel like she should take advantage of me and my brother….who want to share things&nbsp;with&nbsp;her.”</blockquote>
                <span>Maggie, Make Up Artist</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/05.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>Producer: “Is there anything you’d want to say to your parents? Erica: "Don’t be afraid...for your granddaughter, and your daughter, for our rights: please,&nbsp;get&nbsp;involved.”</blockquote>
                <span>Erica, Cast Member</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/06.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>Producer: Why be involved in this project? Sarah: “As an international student, my plans and future career depends on&nbsp;different &nbsp;policies.”</blockquote>
                <span>Sarah, Cast Member</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/07.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>“I was interested in joining...because it’s a really awesome platform for getting people involved when they otherwise wouldn’t be. A lot of people have reservations or hesitations about getting involved...in their local communities because they think they won’t make&nbsp;a&nbsp;difference.”</blockquote>
                <span>Ashley, Cast Member</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/08.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>Producer: Why be involved in this project? Mitchell: “We try to do what we can...I’ve been engaged with voting since I’ve been able to and I try to be active in all the elections&nbsp;every&nbsp;year.”</blockquote>
                <span>Mitchell, Cast Member, Studio Owner</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/09.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>“I believe in the middle, and common ground, and I think often people are talking about the same thing, just in different ways, so the more we can talk and get to what is actually at the heart of issues or problems, the better things&nbsp;will&nbsp;be.”</blockquote>
                <span>Perry, Cast Member</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/10.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>“As someone who doesn’t actually consider themselves super political, I thought [this project] was a really good opportunity to raise my voice, even if it’s in a small way...I believe the conversation does need to get started in a&nbsp;different&nbsp;way.”</blockquote>
                <span>Lorelle, Cast Member</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/11.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>“Get involved in what you believe in. If there’s something that you see going on in your neighborhood, whether it’s human rights, the environment, or energy...step outside and raise&nbsp;your&nbsp;voice.”</blockquote>
                <span>Roque, Cast Member</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/12.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>“Doing a project cross parties and generations really spoke to me. As a journalist and consumer of media, there’s just so much polarized content out there, everyone’s always trashing each other...I think it’s so important for people to come forward and be involved in politics that can actually be a little bit in the middle and try to understand&nbsp;both&nbsp;sides.”</blockquote>
                <span>Katrina, Producer, Cast Member</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/13.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>“It’s really important to me that moderation is part of our national conversation...you don’t have to completely disapprove and you don’t have to completely agree. We can actually agree on some things and disagree on&nbsp;other&nbsp;things.”</blockquote>
                <span>Ana, Creative Director, Director</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/14.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>Via Helena: My parents are pretty motivated to get involved. Just...local politics; it doesn't have to be&nbsp;anything&nbsp;crazy.</blockquote>
                <span>Daniel, Cinematographer</span>
            </div>
        </li>
        <li class="profile momentumcss">
            <img src="/images/15.png" width="600px" height="600px" alt=" ">
            <div class="profile-quote">
                <blockquote>“My parents are moderates, who have been involved in local community governance...for a long time, and I would like other parents to get involved as well. Not in politics, but in governance. My father was involved in a county board for business development and...fish and game regulation, and my mom has worked on the local&nbsp;ambulance&nbsp;board.”</blockquote>
                <span>Matt, Cast Member</span>
            </div>
        </li>
    </ul>
</div>
